.main-container{
    border: 1px solid green;
    
    overflow-x: hidden;
    overflow-y: hidden;
    width: 900px;
    height: 200px;
    
    
    white-space: nowrap;
}

.main-container fragment {
    width:300px;
    height: 200px;
}

.slide{
    display: inline-block;
    width:300px;
    height: 200px;
    /* margin-left: -300px; */
}

.slide--img{
    width:300px;
    height: 200px;
    border: 2px solid black;
}

.buttons{
    display: inline;
}