.main-container{
    border: 1px solid green;
    padding: 20px;

    overflow-x: hidden;
    overflow-y: hidden;
    width: 300px;
    height: 200px;
}

.main-slide{
    display: inline;
}
.slide{
    display: inline;
    
}

.slide--img{
    width:300px;
    height: 200px;
    border: 2px solid black;
}